.property-default {
    width: 1961px;
    height: 1118px;
  }
  
  .property-default .overlap-group {
    position: relative;
    width: 1969px;
    height: 1126px;
    left: -4px;
  }
  
  .property-default .rectangle {
    position: absolute;
    width: 1969px;
    height: 1126px;
    top: 0;
    left: 0;
  }
  
  .property-default .text-wrapper {
    position: absolute;
    width: 220px;
    top: 65px;
    left: 660px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .property-default .div {
    position: absolute;
    width: 426px;
    height: 70px;
    top: 75px;
    left: 1056px;
    background-color: #d9d9d9;
  }
  
  .property-default .rectangle-2 {
    position: absolute;
    width: 732px;
    height: 741px;
    top: 204px;
    left: 148px;
    background-color: #a9c9e9cc;
  }
  
  .property-default .rectangle-3 {
    position: absolute;
    width: 521px;
    height: 603px;
    top: 266px;
    left: 1056px;
    background-color: #ceffc4;
  }
  